@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);

* {
    padding: 0;
    margin: 0;
}

body {
    background: #EFF3F3;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: #34495E;
}

header {
    text-align: justify;
    height: 4em;
    padding: 2em 5%;
    text-transform: uppercase;
}

header h1,
header nav {
    display: inline-block;
    font-weight: 700;
}

header nav a {
    padding: 5px;
    font-size: 120%;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header h1 {
    height: 100%;
    font-size: 250%;
}

header h1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

nav a:link,
nav a:visited,
nav a:active {
    color: #34495E;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #27AE60;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2em 20%;
    min-height: 20em;
}

section p {

}

section h1 {
    padding: 1em;
    font-size: 350%;
    color: #27AE60;
    text-align: center;

}

#hello {
    background: #34495E;
    color: #fff;
}

#contact {
    background: #34495E;
    color: #fff;
}

#projects img {
    background: #fff;
    margin: 2em;
    height: 200px;
    width: 200px;
    border: solid #34495E 4px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#projects img:hover {
    border: solid #27AE60 4px;
}

b {
    color: #27AE60;
}

footer {
    padding: 2em 5%;
    text-align: center;
}

a:link,
a:visited,
a:active {
    color: #27AE60;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button {
    background: #EFF3F3;
    color: #27AE60;
    font-weight: bold;
    padding: 10px;
    border: none;
    margin-top: 20px;
}